.button{
    border: 2px solid var(--second-text);
    border-radius: 4px;
    text-align: center;
    padding: 4px 8px;
    color: var(--second-text);
    cursor: pointer;
}
.base__b{
    border: 1px solid var(--border-color);
    color: var(--main-text);
    font-size: 12px;
    border-radius: 4px;
    padding: 8px;
}
.colored__btn{
    color: var(--light);
    background: var(--colored-btn);
}